body
  font-family: helvetica
  font-size: 14px

#content
  h1
    font-size: 20px
  
  .title
    a
      text-decoration: none

  .entry
    border-bottom: grey solid 1px
    margin-left: -2.5em
    margin-bottom: 10px
    padding-bottom: 10px

  .summary, .content
    font-family: georgia

  .origin
    font-size: 12px
    margin-top: -10px
  
  .date
    font-size: 16px
