body
  font-family: helvetica
  font-size: 14px
  overflow-y: scroll

a:link
  color: #0066cc

#header
  margin-top: 30px
  padding-bottom: 50px  

  h1
    float:left
    display: inline

    a:link, a:visited
      color: black
      text-decoration: none
    a:hover
      text-decoration: underline

  .link
    text-decoration: underline

.entry
  #byline
    margin-bottom: 20px
    
  h2
    font-size: 24px
    margin-top: 10px
    margin-bottom: 10px
  
  .essence
    font-family: 'Times New Roman'
    font-size: 22px
  
  .title
    a
      text-decoration: none

  .entry
    //border-bottom: grey solid 1px
    margin-bottom: 10px
    padding-bottom: 10px

  .origin
    font-size: 12px
    margin-top: -10px
  
  .date
    font-size: 16px

  br
    line-height: 10px

  .controls
    margin-bottom: 20px
    padding-bottom: 10px
    padding-top: 10px
    border-bottom: 1px dotted

  img
    padding-bottom: 10px
    padding-right: 10px
  a img
    border: none
