#subscription.grid_10
  %h1
    %a{:href => @subscription.url}
      = @subscription.title

  Feed url:
  = @subscription.feed_url


#content
  - @subscription_entries.each do |e|
    = render :partial => 'shared/entry', :locals => { :entry => e, :stream => nil }
.clear
#navigation
  = will_paginate @subscription_entries
