#content.grid_10
  - @subscription_entries.each do |e|
    = render :partial => 'shared/entry', :locals => { :entry => e, :hide_controls => true }

#navigation
  = will_paginate @subscription_entries

- content_for :metainfo do
  #metainfo
    %h1
      %a{:href => @subscription.url}
        = @subscription.title

    %br/
    %br/
    Feed url:
    %br/
    %b
      = @subscription.feed_url

  
