#content
  .grid_7.prefix_2
    - if params[:page] == nil
      %h2
        = @subscription.title
  - @subscription_entries.each do |e|
    = render :partial => 'shared/entry', :locals => { :entry => e, :stream => nil }
