.clear
%div{ :id => "first", :class => "entry unselected" }
  .post
    %h2.title Oh, dear.
    .essence
      It seems like you've reached the end of your reading list. <br/><br />Add more <a href="/subscriptions">subscriptions</a> or please come back later!

